.clear-bottom {
  &:after {
    content: "";
    clear:both;
    display: block;
  }
}
.cap {
  max-width: 1500px;
  margin: 0 auto;
}
.copy {
  font-size: 16px;
  color: $color__text-main;
  font-weight: 300;
  @media screen and (min-width: $tabwidth){
    font-size: 22px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 800;
  }
  a {
    text-decoration: none;
    color: $color__text-main;
    position: relative;
    &:hover {
      color: $color__text-main;
    }
  }
  h1, h2, h3 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: $color__text-main;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 20px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      a {
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}
#masthead {
  >.wrapper {
    @include flexbox();
    @include flexbox-direction(column);
    @include flexbox-justify(stretch);
    @include flexbox-align-content(stretch);
    @include flexbox-align-items(stretch);
    padding: 20px;
    @media screen and (min-width: $tabwidth){
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      @include flexbox-align-content(center);
      @include flexbox-align-items(center);
      padding: 1% 3%;
    }
    .logo {
      width: 80%;
      margin: 0 auto;
      @media screen and (min-width: $tabwidth){
        width: 30%;
        margin: 0;
      }
      a {
        img {
          display: block;
          width: 100%;
        }
      }
    }
    #site-navigation {
      text-align: center;
      &.toggled {
        .menu-primary-container{
          display: block;
        }
      }
      button {
        display: inline-block;
        border: 1px solid black;
        box-shadow: none;
        text-shadow: none;
        @media screen and (min-width: $tabwidth){
          display: none;
        }
      }
      .menu-primary-container {
        display: none;
        @media screen and (min-width: $tabwidth){
          display: block;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 10px 0;
            list-style-type: none;
            @media screen and (min-width: $tabwidth){
              margin: 0 30px;
              display: inline-block;
            }
            a {
              text-decoration: none;
              font-size: 16px;
              color: $color__text-main;
              @media screen and (min-width: $tabwidth){
                font-size: 25px;
              }
              &:hover {
                color: $color__text-main;
              }
            }
            .sub-menu {
              display: none;
            }
          }
        }
      }
    }
  }
}