.clear-bottom {
  &:after {
    content: "";
    clear:both;
    display: block;
  }
}
.cap {
  max-width: 1200px;
  margin: 0 auto;
}
.copy {
  font-size: 16px;
  color: $color__text-main;
  font-weight: 500;
  font-family: $font__rubik;
  text-align: justify;
  @media screen and (min-width: $tabwidth){
    font-size: 18px;
  }
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 20px 0;
  }
  strong, b, em {
    font-weight: 800;
  }
  a {
    text-decoration: none;
    color: $color__text-main;
    position: relative;
    &:hover {
      color: $color__text-main;
    }
  }
  h1, h2, h3 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: $color__text-main;
    font-weight: 500;
    font-family: $font__main;
  }
  h1 {
    font-size: 25px;
    @media screen and (min-width: $tabwidth){
      font-size: 30px;
    }
  }
  h2 {
    font-size: 20px;
    @media screen and (min-width: $tabwidth){
      font-size: 25px;
    }
  }
  h3 {
    font-size: 18px;
    @media screen and (min-width: $tabwidth){
      font-size: 20px;
    }
  }
  ul, ol {
    padding: 0;
    margin: 0 0 20px 10px;
    font-size: inherit;
    @media screen and (min-width: $tabwidth){
      margin: 0 0 20px 20px;
    }
    li {
      margin: 0 0 0 10px;
      font-size: inherit;
      padding: 0;
      list-style-type: square;
      @media screen and (min-width: $tabwidth){
        margin: 0 0 0 20px;
      }
      ul {
        li {
          list-style-type: circle;
        }
      }
    }
  }
  ol li {
    list-style-type: decimal;
  }
  input[type=submit]{
    border: 1px solid $color__heidi-blue;
    box-shadow: none;
    text-shadow: none;
    background-color: white;
    &:hover {
      background-color: $color__heidi-blue;
      color: white;
    }
  }
}
#masthead {
  >.wrapper {
    @include flexbox();
    @include flexbox-direction(column);
    @include flexbox-justify(stretch);
    @include flexbox-align-content(stretch);
    @include flexbox-align-items(stretch);
    padding: 20px;
    @media screen and (min-width: $tabwidth){
      @include flexbox-direction(row);
      @include flexbox-justify(space-between);
      @include flexbox-align-content(center);
      @include flexbox-align-items(center);
      padding: 1.5% 3%;
    }
    .logo {
      width: 80%;
      margin: 0 auto;
      @media screen and (min-width: $tabwidth){
        width: 30%;
        margin: 0;
      }
      a {
        img {
          display: block;
          width: 100%;
        }
      }
    }
    #site-navigation {
      text-align: center;
      margin: 10px 0 0 0;
      &.toggled {
        button {
          background-color: $color__heidi-blue;
          color: white;
          border: 1px solid $color__heidi-blue;
        }
        .menu-primary-container {
          display: block;
        }
      }
      button {
        display: inline-block;
        border: 1px solid $color__heidi-grey;
        box-shadow: none;
        background-color: white;
        color: $color__heidi-blue;
        text-transform: uppercase;
        font-family: $font__rubik;
        font-size: 16px;
        padding: 10px;
        text-shadow: none;
        @media screen and (min-width: $tabwidth){
          display: none;
        }
      }
      .menu-primary-container {
        display: none;
        @media screen and (min-width: $tabwidth){
          display: block;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 10px 0;
            list-style-type: none;
            @media screen and (min-width: $tabwidth){
              margin: 0 30px;
              display: inline-block;
            }
            &:last-child {
              margin-bottom: 0;
            }
            a {
              text-decoration: none;
              font-size: 16px;
              color: $color__text-main;
              text-transform: uppercase;
              position: relative;
              @media screen and (min-width: $tabwidth){
                font-size: 22px;
              }
              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: $color__text-main;
                visibility: hidden;
                @include transition(.3s ease all);
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
              }
              &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
              &:hover {
                color: $color__text-main;
              }
            }
            .sub-menu {
              display: none;
            }
          }
        }
      }
    }
  }
}
.circles {
  @include flexbox();
  @include flexbox-direction(column);
  @include flexbox-align-content(stretch);
  @include flexbox-align-items(stretch);
  @include flexbox-justify(stretch);
  .circle {
    border-radius: 50%;
    margin: 10px 0;
    border: 2px solid $color__heidi-grey;
    width: 100%;
    padding: 3px;
    &:hover {
      .wrapper {
        background-size: 150%;
      }
    }
    &:first-child {
      margin-top: 0;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: white;
      }
    }
    .wrapper {
      border-radius: 50%;
      padding: 60% 0 40% 0;
      overflow: hidden;
      background-position: center;
      background-size: 100%;
      @include transition(.3s ease all);
      .title {
        height: 0;
        .title-sub{
          @include translateY(-50%);
          padding: 10px;
          font-size: 18px;
          font-family: $font__rubik;
          font-weight: 300;
          text-align: center;
          line-height: 1;
          background-color: rgba(0,0,0,0.5);
        }
      }
    }
  }
}
#colophon {
  border-top: 5px solid $color__heidi-blue;
  padding-top: 8px;
  color: white;
  font-size: 18px;
  font-family: $font__rubik;
  font-weight: 300;
  >.wrapper {
    background-color: $color__heidi-blue;
    >.wrapper {
      padding: 20px;
      @include flexbox();
      @include flexbox-direction(column);
      @include flexbox-align-content(stretch);
      @include flexbox-align-items(stretch);
      @include flexbox-justify(stretch);
      @media screen and (min-width: $tabwidth){
        padding: 4% 5%;
        @include flexbox-direction(row);
        @include flexbox-align-content(flex-start);
        @include flexbox-align-items(flex-start);
        @include flexbox-justify(space-between);
      }
      >.col-1 {
        text-align: center;
        @media screen and (min-width: $tabwidth){
          text-align: left;
        }
        .site-name {

        }
        .address-line-1 {

        }
        .address-line-2 {

        }
        .phone, .fax {
          a {
            color: white;
            text-decoration: none;
            &:hover {
              color: $color__heidi-grey;
            }
          }
        }
      }
      >.col-2 {
        text-align: center;
        margin: 10px 0 0 0;
        @media screen and (min-width: $tabwidth){
          text-align: right;
          margin: 0;
        }
        ul {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            list-style-type: none;
            a {
              color: white;
              text-decoration: none;
              &:hover {
                color: $color__heidi-grey;
              }

            }
            .sub-menu {
              display: none;
            }
          }
        }
        .copyright {
          
        }
      }
    }
  }
}