.template-index {
    >.row-1 {
        &.mobile {
            img.desktop {
                display: none;
                @media screen and (min-width: $tabwidth){
                    display: block;
                }
            }
            img.mobile {
                display: block;
                @media screen and (min-width: $tabwidth){
                    display: none;
                }
            }
        }
        img {
            width: 100%;
            display: block;
        }
    }
    >.row-2 {
        background-color: $color__heidi-light-grey;
        >.wrapper {
            >.wrapper {
                padding: 20px;
                text-align: justify;
                @media screen and (min-width: $tabwidth){
                    padding: 3% 12%;
                }
            }
        }
    }
    >.row-3 {
        >.wrapper.cap {
            >.wrapper.circles {
                padding: 20px;
                @media screen and (min-width: $tabwidth){
                    padding: 8% 12%;
                    @include flexbox-direction(row);
                    @include flexbox-align-content(center);
                    @include flexbox-align-items(center);
                    @include flexbox-justify(space-between);
                }
                .circle {
                    @media screen and (min-width: $tabwidth){
                        width: 1/3*92%;
                    }
                    @media screen and (min-width: $midwidth){
                        width: 1/3*70%;
                    }
                }
            }
        }
    }
}
.template-page, .error-404, .template-sitemap, .template-about, .template-contact {
    >.row-1 {
        &.mobile {
            img.desktop {
                display: none;
                @media screen and (min-width: $tabwidth){
                    display: block;
                }
            }
            img.mobile {
                display: block;
                @media screen and (min-width: $tabwidth){
                    display: none;
                }
            }
        }
        img {
            width: 100%;
            display: block;
        }
    }
    >.row-2 {
        >.wrapper {
            padding: 20px;
            @media screen and (min-width: $tabwidth){
                padding: 3% 5.5% 7% 5.5%;
            }
            >header.row-1 {
                text-align: center;
                margin: 0 0 20px 0;
                h1 {
                    font-size: 30px;
                    font-weight: 500;
                    margin: 0;
                    text-transform: uppercase;
                    font-family: $font__main;
                    @media screen and (min-width: $tabwidth){
                        font-size: 40px;
                    }
                }
            }
            >.row-2 {
                >.col-1 {
                    min-height: 1px;
                    @media screen and (min-width: $tabwidth){
                        float: left;
                        width: 75%;
                        padding: 0 14% 0 0;
                    }

                }
                >.col-2 {
                    margin: 20px 0 0 0;
                    min-height: 1px;
                    @media screen and (min-width: $tabwidth){
                        float: left;
                        width: 25%;
                        margin: 0;
                    }
                    @media screen and (min-width: $midwidth){
                        padding: 0 4.5%;
                    }
                }
            }
        }
    }
}
.template-about {
    >.row-1 {
    }
    >.row-2 {
        >.wrapper {
            >header.row-1 {
                h1 {
                }
            }
            >.row-2 {
                >.col-1 {
                    background-color: $color__heidi-light-grey;
                    min-height: 1px;
                    font-size: 16px;
                    font-family: $font__rubik;
                    width: 100%;
                    float: none;
                    padding: 0 0 20px 0;
                    margin: 0;
                    @media screen and (min-width: $midwidth){
                        float: left;
                        width: 34%;
                        font-size: 18px;
                    }
                    >header {
                        margin: 20px 0 0 0;
                        text-align: center;
                        @media screen and (min-width: $tabwidth){
                            margin: 20px 0 0 0;
                        }
                        >h2 {   
                            margin: 0;
                            font-size: 28px;
                            font-weight: 500;
                            @media screen and (min-width: $tabwidth){
                                font-size: 35px;
                            }
                        }
                    }
                    .spacer {
                        width: 120px;
                        border-bottom: 1px solid $color__heidi-grey;
                        margin: 0 auto 10px auto;
                    }
                    .social {
                        margin: 0 0 10px 0;
                        text-align: center;
                        .linkedin, .email {
                            display: inline-block;
                            margin: 0 20px;
                            a {
                                font-size: 30px;
                                color: $color__heidi-grey;
                                &:hover {
                                    color: $color__heidi-blue;
                                }
                            }
                        }
                    } 
                    .list {
                        text-align: left;
                        h2 {
                            background-color: $color__heidi-blue;
                            color: white;
                            font-size: 20px;
                            padding: 3px 15px 1px;
                        }
                        ul {
                            line-height: 1.2;
                            padding: 0;
                            margin: 0 20px 20px 20px;
                            font-size: inherit;
                            @media screen and (min-width: $tabwidth){
                            margin: 0 30px 20px 20px;
                            }
                            li {
                                margin: 0 0 10px 10px;
                                font-size: inherit;
                                padding: 0;
                                list-style-type: square;
                                @media screen and (min-width: $tabwidth){
                                    margin: 0 0 10px 20px;
                                }
                                ul {
                                    margin: 10px 0 0 0;
                                    li {
                                        list-style-type: circle;
                                    }
                                }
                            }
                        }
                    }
                }
                >.col-2 {
                    min-height: 1px;
                    margin: 20px 0 0 0;
                    padding: 0;
                    width: 100%;
                    float: none;
                    @media screen and (min-width: $midwidth){
                        float: left;
                        width: 66%;
                        margin: 0;
                        padding: 0 0 0 6%;
                    }  
                    .copy {

                    }
                }
            }
        }
    }
}
.template-contact {
    >.row-1 {
    }
    >.row-2 {
        >.wrapper {
            >header.row-1 {
                h1 {
                }
            }
            >.row-2 {
                >.col-1 {
                    min-height: 1px;
                    width: 100%;
                    float: none;
                    padding: 0;
                    margin: 0;
                    @media screen and (min-width: $midwidth){
                        float: left;
                        width: 50%;
                        padding: 0 3% 0 0;
                    }
                }
                >.col-2 {
                    min-height: 1px;
                    margin: 20px 0 0 0;
                    padding: 0;
                    width: 100%;
                    float: none;
                    @media screen and (min-width: $midwidth){
                        float: left;
                        width: 50%;
                        margin: 0;
                        padding: 0 0 0 3%;
                    }
                }
            }
        }
    }
}
.template-about  .pagetitlediv.wrapper {
    padding-bottom: 0;
}
.template-about .block-info.wrapper {
    padding-top: 0;
    padding-bottom: 4%;
    .profilepic {
        margin-bottom: 20px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .row-2 {
        padding-top: 7%;
        border-top: 6px solid $color__heidi-blue;
    }
    .nosocial {
        padding-bottom: 15px;
    }
    &:focus {
        outline: none;
        border: none;
    }
}
.template-about .block-info.wrapper.block1 {
    &.wrapper {
        padding-top: 0;
    }
    .row-2 {
        padding-top: 0;
        border-top: none!important;
    }
}
